    -- Base16 {{scheme-name}}
    -- Author: {{scheme-author}}
    -- Sets up the theme for base16 colors

    own_window_colour = '#{{base00-hex}}', -- background color
    color1 = '{{base0D-hex}}', -- title color
    color2 = '{{base0C-hex}}', -- subtitle color
    color3 = '{{base07-hex}}', -- text color
    color4 = '{{base0A-hex}}', -- accent color
