# i3 config file (v4)
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# ============== AUTOSTART ====================
# Load picom for better window transparency and animation
# exec --no-startup-id picom --config ~/.config/picom/picom.conf

# Load conky
exec_always --no-startup-id conky -c $XDG_CONFIG_HOME/conky/conkyrc
# Apply the last colorscheme generated without changing the background by using -n
exec_always --no-startup-id feh --bg-fill ~/Pictures/wallpaper.png
# Execute polybar on launch. Script kills current ones on i3 refresh, otherwise they duplicate
exec_always --no-startup-id $XDG_CONFIG_HOME/polybar/launch.sh
exec_always --no-startup-id dunst -config $XDG_CONFIG_HOME/dunst/dunstrc
