# Base16 {{scheme-name}}
# Scheme author: {{scheme-author}}
# Template author: Tinted Theming: (https://github.com/tinted-theming)

# default statusbar colors
set-option -g status-style "fg=#{{base04-hex}},bg=#{{base00-hex}}"

# nolan-linux-desktop window:1 pane:1
set-option -g status-left " #[fg=#{{base05-hex}}]#H #[fg=#{{base0D-hex}}]window:#[fg=#{{base05-hex}}]#I #[fg=#{{base0D-hex}}]pane:#[fg=#{{base05-hex}}]#P "
# Status line right side
# 15% | 28 Nov 18:15
set-option -g status-right " #[fg=#{{base0B-hex}}]%d %b %R "

# default window title colors
set-window-option -g window-status-style "fg=#{{base04-hex}},bg=default"

# active window title colors
set-window-option -g window-status-current-style "fg=#{{base0A-hex}},bg=default"

# pane border
set-option -g pane-border-style "fg=#{{base01-hex}}"
set-option -g pane-active-border-style "fg=#{{base02-hex}}"

# message text
set-option -g message-style "fg=#{{base05-hex}},bg=#{{base01-hex}}"

# pane number display
set-option -g display-panes-active-colour "#{{base0B-hex}}"
set-option -g display-panes-colour "#{{base0A-hex}}"

# clock
set-window-option -g clock-mode-colour "#{{base0B-hex}}"

# copy mode highlight
set-window-option -g mode-style "fg=#{{base04-hex}},bg=#{{base02-hex}}"

# bell
set-window-option -g window-status-bell-style "fg=#{{base01-hex}},bg=#{{base08-hex}}"
