configuration {
  font: "Iosevka Nerd Font Mono 12";
  show-icons: true;
  terminal: "alacritty";
  sort: true;
  sorting-method: "fzf";
  sidebar-mode: true;
  combi-modes: "window,drun";
  matching: "fuzzy";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "onedark"
