configuration {
  combi-modes: "window,drun";
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  font: "IosevkaTerm Nerd Font Mono 12";
  matching: "fuzzy";
  show-icons: true;
  show: "combi";
  sort: true;
  sorting-method: "fzf";
  terminal: "alacritty";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
}

@theme "onedark"
