    -- Base16 {{scheme-name}}
    -- Author: {{scheme-author}}
    -- Sets up the theme for base16-vim

    -- this highlight is used to override other highlights
    -- you can take advantage of its `bg` and set a background throughout your winbar
    -- (e.g. basename will look like this: { fg = "#c0caf5", bold = true })
    normal = { fg = "#{{base07-hex}}" },

    -- these highlights correspond to symbols table from config
    ellipsis = { fg = "#{{base04-hex}}" },
    separator = { fg = "#{{base04-hex}}" },
    modified = { fg = "#{{base04-hex}}" },

    -- these highlights represent the _text_ of three main parts of barbecue
    dirname = { fg = "#{{base04-hex}}" },
    basename = { bold = true },
    context = {},

    -- these highlights are used for context/navic icons
    context_file = { fg = "#{{base0E-hex}}" },
    context_module = { fg = "#{{base0E-hex}}" },
    context_namespace = { fg = "#{{base0E-hex}}" },
    context_package = { fg = "#{{base0E-hex}}" },
    context_class = { fg = "#{{base0E-hex}}" },
    context_method = { fg = "#{{base0E-hex}}" },
    context_property = { fg = "#{{base0E-hex}}" },
    context_field = { fg = "#{{base0E-hex}}" },
    context_constructor = { fg = "#{{base0E-hex}}" },
    context_enum = { fg = "#{{base0E-hex}}" },
    context_interface = { fg = "#{{base0E-hex}}" },
    context_function = { fg = "#{{base0E-hex}}" },
    context_variable = { fg = "#{{base0E-hex}}" },
    context_constant = { fg = "#{{base0E-hex}}" },
    context_string = { fg = "#{{base0E-hex}}" },
    context_number = { fg = "#{{base0E-hex}}" },
    context_boolean = { fg = "#{{base0E-hex}}" },
    context_array = { fg = "#{{base0E-hex}}" },
    context_object = { fg = "#{{base0E-hex}}" },
    context_key = { fg = "#{{base0E-hex}}" },
    context_null = { fg = "#{{base0E-hex}}" },
    context_enum_member = { fg = "#{{base0E-hex}}" },
    context_struct = { fg = "#{{base0E-hex}}" },
    context_event = { fg = "#{{base0E-hex}}" },
    context_operator = { fg = "#{{base0E-hex}}" },
    context_type_parameter = { fg = "#{{base0E-hex}}" },
