  -- Base16 {{scheme-name}}
  -- Author: {{scheme-author}}
  -- Sets up the theme for base16-vim

  black = "#{{base00-hex}}", -- base00
  darker_gray = "#{{base01-hex}}", -- base01
  dark_gray = "#{{base02-hex}}", -- base02
  gray = "#{{base03-hex}}", -- base03
  light_gray = "#{{base04-hex}}", -- base04
  lighter_gray = "#{{base05-hex}}", -- base05
  lightest_gray = "#{{base06-hex}}", -- base06
  white = "#{{base07-hex}}", -- base07
  red = "#{{base08-hex}}", -- base08
  orange = "#{{base09-hex}}", -- base09
  yellow = "#{{base0A-hex}}", -- base0A
  green = "#{{base0B-hex}}", -- base0B
  cyan = "#{{base0C-hex}}", -- base0C
  blue = "#{{base0D-hex}}", -- base0D
  purple = "#{{base0E-hex}}", -- base0E
  magenta = "#{{base0F-hex}}", -- base0F
