-- Base16 {{scheme-name}}
-- Author: {{scheme-author}}
-- Sets up the theme for base16-vim

return {
  black = "#{{base00-hex}}",
  darker_gray = "#{{base01-hex}}",
  dark_gray = "#{{base02-hex}}",
  gray = "#{{base03-hex}}",
  light_gray = "#{{base04-hex}}",
  lighter_gray = "#{{base05-hex}}",
  lightest_gray = "#{{base06-hex}}",
  white = "#{{base07-hex}}",
  red = "#{{base08-hex}}",
  orange = "#{{base09-hex}}",
  yellow = "#{{base0A-hex}}",
  green = "#{{base0B-hex}}",
  cyan = "#{{base0C-hex}}",
  blue = "#{{base0D-hex}}",
  purple = "#{{base0E-hex}}",
  magenta = "#{{base0F-hex}}",
}
