  -- Base16 {{scheme-name}}
  -- Author: {{scheme-author}}
  -- Sets up the theme for base16-vim
  red = '#{{base08-hex}}',
  grey = '#{{base02-hex}}',
  light_gray = '#{{base03-hex}}',
  black = '#{{base00-hex}}',
  white = '#{{base07-hex}}',
  green = '#{{base0B-hex}}',
  orange = '#{{base09-hex}}',
  yellow = '#{{base0A-hex}}',
  magenta = '#{{base0E-hex}}',
  blue = '#{{base0D-hex}}',
